<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
       fn <input type="text" name="first_name" id="">
        ln<input type="text" name="last_name" id="">
        email<input type="email" name="email" id="">
        pass<input type="password" name="password" id="">
        <button type="submit" onsubmit="/register">Submit</button>
    </form>
    
</body>
</html>